<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header') %> -->

        <h1> Name: Mona  </h1>
        <h1> Age: 23yrs  </h1>
<!--         
        <%- include('_footer') %>
    </body>
</html> -->